@charset "utf-8";
/*-------------------css reset--------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
font-weight:normal; 
font-style: inherit; 
font-size: 100%; 
font-family: inherit; 
vertical-align: baseline; 
} 
:focus { 
outline: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
caption, th, td { 
text-align: left; 
font-weight: normal; 
} 
a img, iframe { 
border: none; 
}
ul,ol{ 
list-style: none; 
}
input, textarea, select, button { 
font-size: 100%; 
font-family: inherit; 
} 
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*------------------- 视觉隐藏--------------------------*/
.vh { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}
/*------------------- 图片替换--------------------------*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
/*-------------------公共--------------------------*/
body{font-size:14px; line-height:1; font-family:'微软雅黑',Arial, Helvetica, sans-serif;color:#333; background:#E4E4E4;}
a{text-decoration:none;color:#333;}
a:hover{color:red;}
.fl{float:left; display:inline;}
.fr{float:right;display:inline;}
strong{font-weight:bold;}
.h{position:relative;}
.hr{position:absolute; right:0; top:2px;}
.tc{text-align:center;}
.tr{text-align:right;}
.fl,.li-fl li{float:left; display:inline;}
/*-------------------文章模块--------------------------*/
.article h3{ text-align:center;}
.article p {text-indent:2em; line-height:1.5;}
/*-------------------新闻列表模块--------------------------*/
.list li{line-height:1.5;}
.list2 li{float:left; display:inline; width:50%; line-height:1.5;}
/*-------------------图片列表模块--------------------------*/
.img dl{float:left;display:inline;}
.img dd{*font-size: 0;}
.img dt{text-align:center; margin-top: 5px;}
/*-------------------选项卡模块--------------------------*/
.tab .h li{float:left; display:inline;}
.tab .b{display:none;}
.tab .active{display:block;}
/*-------------------数字幻灯模块--------------------------*/
.slider{ position:relative; height:283px; overflow:hidden}
.slider .b{ padding:0;}
.slider .f{position:absolute; right:102px; bottom:28px; z-index:1000}
.slider .f a{background:#282E37; margin-left:5px; float:left; display:inline; width:26px; height:4px; overflow:hidden; text-indent:-999em; border-left:1px solid #82868C; border-right:1px solid #82868C;}
.slider .f .activeSlide{background:#DB2332;}
/*-------------------布局--------------------------*/
.w{width: 997px; margin: 0 auto;}
#h,#b,#f{width:1202px; margin:0 auto;}
#h{position:relative; background:#fff;}
#h .r1{background:url(../img/h-r1.png) repeat-x; position:absolute; z-index:999; width:100%; top:45px;}
#h .r1 .c1{ background:url(../img/h-r1-c1.png) no-repeat; width:249px; height:139px; position:absolute; left:96px; top:-56px;}
#h .r1 .c1 a{display:block;width:253px; height:71px; margin-left:29px; margin-top:42px; background:url(../img/h-r1-c1-a.png) no-repeat;}
.nav{color:#fff; margin-left:338px; padding:16px 0;}
.nav a{color:#fff;}
.nav a:hover{ color:#fff;}
.nav .li{float:left; display:inline; position:relative; padding:0 12px; border-left:1px solid #FBE9EB;}
.nav .li1{border:none;}
#h .r1 .c3{ width:125px; padding-top:8px;}
#h .r1 .c3 a{ height:42px; line-height:36px; color:#fff; padding-left:50px; background:url(../img/h-r1-c3.png) no-repeat; display:block;}
#b{background:#fff;}
#b .r1{ padding-bottom:42px;}
#b .r1 .c1{width:292px; margin-right:56px;}
#b .r1 .c2{width:292px;}
#b .r1 .c3{width:312px;}
#b .r2{ border-bottom:1px solid #C2C1C1; padding-bottom:15px;}
#b .r2 .c1{width:256px; font-size:31px;}
#b .r2 .c2{padding-top:20px;}
#b .r3{overflow:hidden;}
#b .r3 .c1{width:214px; padding-top:17px;}
#b .r3 .c1 li{margin-bottom:8px;}
#b .r3 .c1 a{display:block; width:185px; height:32px; line-height:32px; background:#D2D4D4; text-align:center; font-size:16px;}
#b .r3 .c1 a:hover,
#b .r3 .c1 .active a{background:#DB2332; color:#fff;}
#b .r3 .c2{  padding:15px 0 76px 43px; width:736px; border-left:1px solid #C2C1C1;}
#f{background:#DB2332; height:50px; color:#fff;}
#f .r1{position:relative;}
#f .r1 .c1{padding-top:20px;}
#f .r1 .c1 a{color:#fff; margin-left:10px;}
#f .r1 .c2{padding-top:10px;}
#f .r1 .c2 a{background:url(../img/f-r1-c2.png) no-repeat; width:227px; height:24px; display:block;}
#f .r1 .c3{position:absolute; right:-211px; top:-94px;}
#f .r1 .c3 a{ display:block; width:96px; height:94px; background:url(../img/f-r1-c3.gif) no-repeat;}
#f .r1 .c4{position:absolute; right:-175px; top:-94px;}
#f .r1 .c4 a{ display:block; width:68px; height:68px; background:url(../img/gototop.gif) no-repeat;}
/*-------------------ma--------------------------*/
.ma{border-bottom:1px solid #C2C0C0; padding-bottom:10px;}
.ma h2{padding-left:57px; background:url(../img/ma-h.png) no-repeat; _background:url(../img/ma-h.gif) no-repeat; height:40px; line-height:40px; padding-bottom:2px; border-bottom:1px solid #C2C0C0;margin-bottom:22px; font-size:24px; color:#86898D;}
/*-------------------次导航m1--------------------------*/
.m1{margin-bottom:31px;}
.m1 .br1{margin-left:-12px;}
.m1 .br1 dl{margin-left:12px; position:relative;}
.m1 .br1 dt{ position:absolute; right:5px; bottom:5px; font-size:37px;}
.m1 .br1 dt a{ display:block; text-indent:-999em; width:191px; height:51px; padding-top:22px; background:url(../img/m1-dl.png) no-repeat;}
.m1 .dl1 dt a:hover{ background-position:left bottom;}
.m1 .dl2 dt a{ background-position:-191px top;}
.m1 .dl2 dt a:hover{ background-position:-191px bottom;}
.m1 .dl3 dt a{ background-position:right top;}
.m1 .dl3 dt a:hover{ background-position:right bottom;}
.m1 .br1 img{border:5px solid #E4E4E4;}

/*-------------------海视新闻m2--------------------------*/
.m2 .h{margin-bottom:18px;}
.m2 .br1{margin-bottom:9px;}
.m2 .br1 img{padding:3px; border:1px solid #999999;}
.m2 .br2{margin-bottom:10px;}
.m2 .br2 li{padding-left:17px; background:url(../img/m2-li.gif) no-repeat 7px center; font-size:14px; line-height:26px;}
.m2 .br3{ text-align:right;}
/*-------------------关于海视m3--------------------------*/
.m3 .h{margin-bottom:18px;}
.m3 .br1{margin-bottom:16px; border-bottom:1px solid #C2C0C0; padding-bottom:16px;}
.m3 .br1 p{text-indent:2em; line-height:26px;}
.m3 .br1 a{color:#DC3846;}
.m3 .br2{margin-bottom:10px;}
.m3 .br2 li{font-size:14px; line-height:24px;}
.m3 .br3{ text-align:right;}

/*-------------------最新案列m4--------------------------*/
.m4 .h{margin-bottom:24px;}
.m4 .br1{margin-bottom:15px;}
.m4 .br2 .bc1{padding-left:12px; background:url(../img/m2-li.gif) no-repeat left center;}
/*-------------------数字幻灯m5--------------------------*/
.m5{height:631px; position:relative;}
.m5 .prev,
.m5 .next{ width:36px; height:42px; position:absolute; top:281px; z-index:999; text-indent:-999em;}
.m5 .prev{background:url(../img/prev.png) no-repeat; left:25px;}
.m5 .next{background:url(../img/next.png) no-repeat; right:25px;}
.m5 .bg{ background:url(../img/m5.png) no-repeat left bottom; position:absolute; z-index:999; height:110px; bottom:0; left:0; width:1202px;}
/*-------------------媒体地图m6 mb--------------------------*/
.mb .h{ background:url(../img/tab-h.png) no-repeat; padding-left:12px; padding-top:3px; margin-bottom:10px;}
.mb .h li{width:98px; height:43px; line-height:37px; text-align:center; font-size:16px;}
.mb .h .active{ background:url(../img/tab-active.png) no-repeat;}
.mb .h .active a{color:#fff;}
.m6 .b1{border:1px solid #D2D4D4; padding:8px;}
.m6 .b1 .bc1{width:558px; padding-top:25px;}
.m6 .b1 .bc1 dt{ height:35px; line-height:35px; background:#DB2332; margin-top:-35px; position:relative; z-index:2; text-align:center;}
.m6 .b1 .bc1 dt a{color:#fff;}
.m6 .b1 .bc2{width:150px;}
.m6 .b1 .bc2 ul{height:477px; overflow:hidden;}
.m6 .b1 .bc2 li{margin-bottom:7px;}
.m6 .b2 img{border:1px solid #E4E4E4; padding:7px 9px;}
.m6 .prev,
.m6 .next{width:25px; height:23px; display:block; margin-left:65px; text-indent:-999em;}
.m6 .prev{ background:url(../img/m6-prev.gif) no-repeat; margin-bottom:2px;}
.m6 .next{ background:url(../img/m6-next.gif) no-repeat; margin-top:-2px;}
/*-------------------报名参加m7 mb--------------------------*/
.m7 .b1,
.m7 .b3{border:1px solid #D2D4D4; padding:31px 47px 71px 50px;}
.m7 .b2{width:702px;}
.m7 .b1 .br1{font-size:21px; margin-bottom:17px; text-align:center;}
.m7 .b1 .br2{font-size:12px; color:#707070; border-bottom:2px solid #ccc; padding-bottom:19px; margin-bottom:13px; text-align:center;}
.m7 .b1 .br3{font-size:16px; line-height:1.75;}
.m7 .b1 .br3 p{text-indent:2em;}
.m7 .b2 .br1{ margin-bottom:23px; border:1px solid #D2D4D4; padding:14px 0 17px 18px;}
.m7 .b2 .br1 dt{text-align:center; font-size:18px; height:36px; line-height:36px; margin-top:-36px; background:#000;  position:relative; z-index:2; width:666px;}
.m7 .b2 .br1 dt a{color:#fff;}
.m7 .b2 .br2{padding-left:20px; padding-top:15px; padding-bottom:18px; margin-bottom:26px; border:1px solid #D2D4D4;}
.m7 .b2 .br2 dl{margin-right:9px;}
.m7 .b2 .br3{text-align:center;}
.m7 .b2 .br3 a{ background:#A5A5A4; display:inline-block; width:16px; height:20px; line-height:20px; text-align:center; color:#fff;}
.m7 .b2 .br3 .current{background:#D82E37;}
.m7 .b3 .br1{font-size:14px; line-height:1.7; border-bottom:2px solid #ccc; margin-bottom:24px; padding-bottom:10px;}
.m7 .b3 .br1 span{color:#DB2332; font-size:18px;}
.m7 .b3 .br2 h3{font-size:18px; color:#DD1F21; background:url(../img/m7-b3-h3.gif) no-repeat; padding-left:34px; height:24px; line-height:24px; margin-bottom:23px;}
.m7 .b3 .br2 li{margin-bottom:16px;}
.m7 .b3 .br2 .li7{text-align:right; padding-right:68px;}
.m7 .b3 .br2 label{display:inline-block; width:68px; margin-right:15px; text-align:right;}
.m7 .b3 .br2 label span{color:#DB232A; text-align:left;}
.m7 .b3 .br2 .text{width:308px;}
.m7 .b3 .br2 textarea{width:471px; height:92px;}
.m7 .b3 .br2 button{width:119px; height:42px; padding-top:42px; overflow:hidden; border:none; background:url(../img/m7-btn.png) no-repeat;}
/*-------------------公司介绍m8--------------------------*/
.m8 .b{font-size:16px; line-height:1.8;}
.m8 .b h2{margin-top:29px;}
.m8 .b img{margin-top:32px;}
/*-------------------海视活动列表m9--------------------------*/
.m9 .b{margin-bottom:36px;}
.m9 .br1 .bc1{background:url(../img/m9-bc1.png) no-repeat; width:246px; height:143px;}
.m9 .br1 .bc1 img{padding-left:13px; padding-top:8px;}
.m9 .br1 li{padding-bottom:34px; border-bottom:1px solid #C2C1C1; margin-bottom:49px;}
.m9 .br1 h2{font-size:21px; margin-bottom:10px;}
.m9 .br1 p{line-height:1.7; height:69px; overflow:hidden; margin-bottom:5px;}
.m9 .br1 .bc2{margin-left:259px; padding-top:8px;}
.m9 .br1 .d1{text-align:right;}
.m9 .br1 .d1 a{display:inline-block; width:80px; padding-left:6px; height:19px; line-height:19px; background:#DF283A url(../img/more.gif); font-size:12px; color:#fff; text-align:left;}
.m9 .f{text-align:center;}
.m9 .f a{ background:#A5A5A4; display:inline-block; width:16px; height:20px; line-height:20px; text-align:center; color:#fff;}
.m9 .f .current{background:#D82E37;}
/*-------------------模块m10--------------------------*/
.m10 .b dl{}
.m10 .b dt{height:31px; line-height:31px; text-align:center; margin-top:-31px; background:rgba(0,0,0,0.5); background:#000; position:relative; z-index:2;}
.m10 .b dt a{color:#fff;}
.m10 .b .active{display:block;}
.m10 .br1{display:none; width:500px; margin:0 auto 25px 102px;}
.m10 .br1 dl{width:499px; margin:0 auto;}
.m10 .br2{ margin-left:-21px; position:relative;}
.m10 .br2 .a1{position:absolute; width:131px; height:40px; line-height:36px; color:#fff; background:url(../img/m10-a1.png) no-repeat; text-align:center; top:-75px; right:0;}
.m10 .br2 dl{margin-bottom:32px;background:url(../img/m10-dl.png) no-repeat; width:220px; padding:0 16px; height:159px;}
.m10 .br2 dd{padding-top:14px;}
.m10 .f{text-align:center;}
.m10 .f a{ background:#A5A5A4; display:inline-block; padding:0 5px; height:20px; line-height:20px; text-align:center; color:#fff;}
.m10 .f .current{background:#D82E37;}
/*-------------------模块m11--------------------------*/
.m11 .br1{ margin-bottom:23px;}
.m11 .br1 dl{padding:7px 7px 20px; border:1px solid #D2D4D4;}
.m11 .br1 dd{margin-bottom:16px;}
.m11 .br1 dt{text-align:center; font-size:18px;}
.m11 .br2{padding:15px 21px; margin-bottom:26px; border:1px solid #D2D4D4;}
.m11 .br2 dl{margin-left:9px;}
.m11 .f{text-align:center;}
.m11 .f a{ background:#A5A5A4; display:inline-block; width:16px; height:20px; line-height:20px; text-align:center; color:#fff;}
.m11 .f .current{background:#D82E37;}
/*-------------------三屏联播m12--------------------------*/
.m12{padding-top:37px; padding-bottom:170px;}
.m12 .br1{margin-left:-14px;}
.m12 .br1 .bc{margin-left:14px;}
/*-------------------模块m13--------------------------*/

/*-------------------模块m14--------------------------*/

/*-------------------模块m15--------------------------*/

/*-------------------模块m16--------------------------*/

/*-------------------模块m17--------------------------*/